<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scrapper</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <style>
      :root {
        --primary: #00897b;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <header>
        <h1>일자리 검색기</h1>
      </header>
      <form action="/search">
        <h5>검색어를 입력해 주세요</h5>
        <input type="text" name="keyword" placeholder="검색어" />
        <button role="button" class="outline">찾기</button>
        <!-- HTML --><a href="search?keyword=html"
          ><img
            src="https://img.shields.io/badge/HTML5-E34F26?style=flat&logo=HTML5&logoColor=white"
        /></a>
        <!-- CSS --><a href="search?keyword=css"
          ><img
            src="https://img.shields.io/badge/CSS3-1572B6?style=flat&logo=CSS3&logoColor=white"
        /></a>
        <!-- JavaScript --><a href="search?keyword=javascript"
          ><img
            src="https://img.shields.io/badge/JavaScript-F7DF1E?style=flat&logo=JavaScript&logoColor=white"
        /></a>
        <!-- jQuery --><a href="search?keyword=jquery"
          ><img
            src="https://img.shields.io/badge/jQuery-0769AD?style=flat&logo=jQuery&logoColor=white"
        /></a>
        <!-- Bootstrap --><a href="search?keyword=bootstrap"
          ><img
            src="https://img.shields.io/badge/Bootstrap-7952B3?style=flat&logo=Bootstrap&logoColor=white"
        /></a>
        <!-- SCSS --><a href="search?keyword=scss"
          ><img
            src="https://img.shields.io/badge/SCSS-D75892?style=flat&logo=sass&logoColor=white"
        /></a>
        <!-- TypeScript --><a href="search?keyword=TypeScript"
          ><img
            src="https://img.shields.io/badge/TypeScript-3178C6?style=flat&logo=TypeScript&logoColor=white"
        /></a>
        <!-- Vue.js --><a href="search?keyword=vue.js"
          ><img
            src="https://img.shields.io/badge/Vue.js-34A06F?style=flat&logo=Vue.js&logoColor=white"
        /></a>
        <!-- Node.js --><a href="search?keyword=nodejs"
          ><img
            src="https://img.shields.io/badge/Node.js-44843D?style=flat&logo=Node.js&logoColor=white"
        /></a>
        <!-- Python --><a href="search?keyword=python"
          ><img
            src="https://img.shields.io/badge/Python-3876AB?style=flat&logo=Python&logoColor=white"
        /></a>
        <!-- Django --><a href="search?keyword=Django"
          ><img
            src="https://img.shields.io/badge/Django-082D1F?style=flat&logo=Django&logoColor=white"
        /></a>
        <!-- Oracle-db --><a href="search?keyword=Oracle"
          ><img
            src="https://img.shields.io/badge/Oracle%20SQL-F80000?style=flat&logo=Oracle&logoColor=white"
        /></a>
        <!-- MySQL --><a href="search?keyword=mysql"
          ><img
            src="https://img.shields.io/badge/MySQL-4479A1?style=flat&logo=MySQL&logoColor=white"
        /></a>
        <!-- MariaDB --><a href="search?keyword=mariadb"
          ><img
            src="https://img.shields.io/badge/MariaDB-BA7157?style=flat&logo=MariaDB&logoColor=white"
        /></a>
        <!-- MongoDB --><a href="search?keyword=MongoDB"
          ><img
            src="https://img.shields.io/badge/MongoDB-016448?style=flat&logo=MongoDB&logoColor=white"
        /></a>
      </form>
    </main>
  </body>
</html>
